body {
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.fontstyle {
    font-family: "Montserrat", sans-serif;
}

.center {
    /*margin-top: 25px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(102, 71, 69);
    padding-top: 20px;
}
.between-lines {
    line-height: 0.1;
}

.main-background {
    background-color: rgb(102, 71, 69);
    height: 100vh;
    width: 100vw;
/*background-position: center;
background-repeat: no-repeat;
background-size: cover;*/
}
.main-area {
    background-color: rgb(244, 246, 245);
    text-align: center;
    padding: 0 20px;
    margin: 0px 90px;
}
.about-area {
    background-color: rgb(244, 246, 245);
    text-align: center;
    padding: 0 20px;
    margin: 0px 90px;  
}
.main-nav {
    display: flex;
    justify-content: space-evenly;
}
.main-nav ul {
    padding-inline-start: 0px;
}
.main-nav li {
    display: inline-block;
    padding: 3px 10px;
    margin: 0 30px;
    font-size: 1rem;
    color: rgb(137, 156, 150);
}
.nav-link a:hover{
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 1px;
}
.p-style {
    line-height: 1.3;
}
.additional-area {
    padding: 0;
}
.imgflight {
    width: 25%;
    height: auto;
    margin-right: 25px;
    border: 1px solid rgb(137, 156, 150);
    box-shadow: 5px 10px 18px rgb(137, 156, 150);
}
.tips-photos {
    display: block;
}
.imgcar {
    max-width: 25%;
    height: auto;
    margin-left: 25px;
    border: 1px solid rgb(137, 156, 150);
    box-shadow: 5px 10px 18px rgb(137, 156, 150);
}
.contentp1 {
    text-align: justify;
    line-height: 1.3;
}
.text-align {
    text-align: justify;
    line-height: 1.3;
}
.hide {
    display: none;
}
.btntips {
    padding: 10px;
    background-color: rgb(137, 156, 150);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
/*.comming-tips {
    max-width: 20%;
    height: auto;
    margin-left: 25px;
    border: 1px solid rgb(137, 156, 150);
    box-shadow: 5px 10px 18px rgb(137, 156, 150);
}
.comming-container {
    position: relative;
    text-align: center;
    color: white;
}*/


/* About page */
.about-photo {
    display: grid;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(137, 156, 150);
    /*box-shadow: 5px 10px 18px rgb(137, 156, 150);*/
}
.slider-container {
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
}
.slide-img {
    width: auto;
    height: 100%;
    object-fit: cover;

}
.section-center {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 2rem;
    /*width: 80vw;
    height: 500px;*/
    margin: auto;
    max-width: 1000px;
}

.about {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0;
    padding: 0;
}
.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content-container {
    display: grid;
    grid-template-rows: auto;
    text-align: left;
}
.tab-btn {
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.1rem;
    border: none;
}

/* hide content */
.content {
    display: none;
}
.tab-btn.active {
    background: rgb(255, 255, 255);
}
.content.active {
    display: block;
    background: rgb(255, 255, 255);
    padding: 0 2rem;
} 
/* hide conten end */

.button-container {
    display: flex;
    justify-content: center;
    /*margin-top: 0.5rem;*/
}
.prevBtn, .nextBtn {
    background: transparent;
    border: none;
    font-size: 1rem;
    color: rgb(137, 156, 150);
    cursor: pointer;
    margin: 0 0.25rem;
    letter-spacing: 2px;
}
.social {
    padding: 0.5em 0.3em;
}
.centered {
    position: absolute;
    color: white;
    font-size: 0.7cm;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destinations {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 5.5vw);
    column-gap: 1.5em;
    row-gap: 1.5em;
    max-width: 100%;
}
.desti-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    text-align: center;
}
.main-photos {
    max-width: 100%;
    height: 100%;
    /*border: 1px solid rgb(137, 156, 150);
    box-shadow: 5px 10px 18px rgb(137, 156, 150);*/
}
.photo1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}
.photo2 {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 6; 
}
.photo3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 10; 
}
.photo4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 11; 
}
.photo5 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 10; 
}
.photo6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 15;  
}
.photo7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 15; 
}
.photo8 {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 15;
}
.photo9 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 20;
}
.photo10 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 15;
    grid-row-end: 18;
}
.photo11 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 18;
    grid-row-end: 21;
}
.photo12 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 20;
    grid-row-end: 24;
}
.photo13 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 20;
    grid-row-end: 23;
}
.photo14 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 21;
    grid-row-end: 24;
}

.comming-soon {
    color:rgb(137, 156, 150)
}

/* Media, mobile size: 320px-480px */
@media screen and (max-width: 480px) {
    .main-area {
        background-color: rgb(244, 246, 245);
        text-align: center;
        padding: 0 10px;
        margin: 0px 30px;
    }
    .between-lines {
        line-height: normal;
        }
    .center {
        /*margin-top: 25px;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(102, 71, 69);
        padding-top: 20px;
        }
    .logo {
        margin: 0;
    }
    .destinations {
        display: block;
        margin: 0;
        padding: 0;
    }
    .desti-container {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    .main-photos {
        max-width: 100%;
        height: auto;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-nav ul {
        padding-inline-start: 0px;
    }
    .main-nav li {
        display: block;
        float: left;
        margin: 0;
        font-size: 1rem;
        color: rgb(137, 156, 150);
    }
    #navbar {
        display: block;
        padding-bottom: 10px;
        margin: 0 -11px;
        background-color: rgb(102, 71, 69);
        position: fixed;
        top: -50px;
        width: 100%;
        transition: top 0.3s;
        z-index: 1;
    }
    #navbar a {
        float: left;
        display: block;
        color: rgb(137, 156, 150);
        text-align: center;
        padding: 0;
        font-size: 15px;
    }
    #navbar a:hover {
        background-color: rgb(125, 110, 109);
        color: black;
    }
    /* About Me page*/
    .about-area {
        background-color: rgb(244, 246, 245);
        text-align: center;
        padding: 0 10px;
        margin: 0px 30px;  
    }
    .section-center {
        display: block;
        width: 100%;
        height: 500px;
        margin: auto;
    }
    /* Travel Tips page */
    .imgflight {
        margin-right: 0;
    }
    .imgflight {
        width: 70%;
        height: auto;
        border: 1px solid rgb(137, 156, 150);
        box-shadow: 5px 10px 18px rgb(137, 156, 150);
    }
    .imgcar {
        max-width: 70%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        border: 1px solid rgb(137, 156, 150);
        box-shadow: 5px 10px 18px rgb(137, 156, 150);
    }
    /* About me page */
    .section-center {
        display: block;
        width: 80vw;
        height: 100%;
        margin: auto;
        max-width: 500px;
    }
    .about {
        /*display: grid;*/
        grid-template-rows: auto 1fr;
        margin: 0;
        padding: 0;
    }
    .btn-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .content-container {
        display: grid;
        grid-template-rows: auto;
        text-align: left;
    }
    .about-photo {
        /*display: grid;*/
        width: 100%;
        height: 100%;
        border: 1px solid rgb(137, 156, 150);
        /*box-shadow: 5px 10px 18px rgb(137, 156, 150);*/
    }
    .slider-container {
        position: relative;
        max-width: 100%;
        overflow: hidden;
    }
    .slide {
        position: relative;
        display: flex;
        justify-content: right;
        width: 100%;
        height: 100%;
        transition: all 0.25s ease-in-out;
    }
    .hidden-mobile {
        display: none;
    }
}
/* Tablet size: 481px—768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main-area {
        background-color: rgb(244, 246, 245);
        text-align: center;
        padding: 0 10px;
        margin: 0px 30px;
    }
    .between-lines {line-height: normal;}
    .logo {margin: 0;}

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-nav ul {
        padding-inline-start: 0px;
    }
    .main-nav li {
        display: inline-block;
        padding: 3px 10px;
        margin: 0 5px;
        font-size: 1rem;
        color: rgb(137, 156, 150);
    }
    .nav-link a:hover{
        text-decoration: none;
        letter-spacing: 1px;
        border-radius: 1px;
    }
    .centered {
        position: absolute;
        color: white;
        font-size: 0.5cm;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Travel Tips page */
    .imgflight {
        margin-right: 0;
    }
    /* About Me*/
    .about-area {
        background-color: rgb(244, 246, 245);
        text-align: center;
        padding: 0 10px;
        margin: 0px 30px;  
    }
    .tablet-space {
        margin-top: 10px;
    }
    .section-center {
        display: block;
        height: 100%;
        margin: auto;
        max-width: 800px;
    }
    .about {
        /*display: grid;*/
        grid-template-rows: auto 1fr;
        margin: 25px 0 0 0;
        padding: 0;
    }
    .about-photo {
        /*display: grid;*/
        width: 100%;
        height: 100%;
        border: 1px solid rgb(137, 156, 150);
        /*box-shadow: 5px 10px 18px rgb(137, 156, 150);*/
    }
    .slider-container {
        position: relative;
        max-width: 100%;
        overflow: hidden;
    }
    .slide {
        position: relative;
        /*display: flexbox;
        justify-content: center;*/
        width: 100%;
        height: 100%;
        transition: all 0.25s ease-in-out;
    }
    .hidden-mobile {
        display: none;
    }
}
